* {
    box-sizing: border-box;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading {
    font-size: 3rem;
    background: -webkit-linear-gradient(green, lightgreen);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}