<html> 
	<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe&family=Inter:wght@100;200;300;400;500;600;700;800&family=Karla:wght@300;400;500;600;700;800&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,700&family=Open+Sans:wght@300;400;500;600;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='/index.css')}}" >
	</head>
	
	<body>
      <div class='navbar-container'>
        <div class='navbar-logo'>🧠</div>
        <button class='navbar-login'>Login</button>
      </div>
      <div class='body-container'>
        <h1 class='body-title'>Social Media and Mood: <span>Re-imagined</span></h1>
        <p class='body-text'>
            One in ten people struggle with identifying their emotions. This brings a lifetime of frustration,
            broken relationships, and a lack of meaning. At BrAInstorm, we're reimagining what emotions look 
            like, and how they're interpreted. Using the latest advances in Brain-Computer Interface Technology,
            BrAInstorm is fostering a new social experience for people suffering from a lack of understanding. We
            measure waves naturally emitted by the brain during certain states of mood, and using the power of the
            Stable Diffusion AI model, translate them into tangible manifestations of users' experience. 
        </p>
        <button class='body-login' type="submit" class='file-submit'>Login</button>
    </div>
    <footer class="footer-container">
      <h1>Made with ❤️ in 🇨🇦</h1>
      <h2>© 2022 </h2>
    </footer>

</html>

<!-- <button class='body-login' type="submit" class='file-submit'>Login</button> -->
