<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose</title>
</head>
<body>
    <div class="app-container">
        <h1>Select What You'd Like to See</h1> 
        <div class="button-container">
            <button>Characters</button>
            <button>Art</button>
            <button>Music</button>
        </div>
    </div>
</body>
</html>